// font
$nunito: 'Nunito', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;

// font size
$fz-12: 12px;
$fz-14: 14px;
$fz-15: 15px;
$fz-16: 16px;
$fz-18: 18px;
$fz-20: 20px;
$fz-32: 32px;
$fz-36: 36px;
$fz-40: 40px;
$fz-48: 48px;

// font weight
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 900;

//line-height
$lh-decription: 25px;
$lh-header-decription: 46.5px;
$lh-title: 57px;

// colors
$primary: #222222;
$description: #444444;

//header
$accent: #03014C;
$first-ellipse: #54C1FB;
$second-ellipse: #3048C1;
$bg-ellipses: #C4C4C4;
$bg-lines: #FDF4F4;

//event
$event-card-name: #222220;
$event-card-work: #888888;

//improve
$improve-title: #181539;

//blog
$blog-title: #03014C;

//footer
$footer-primary: #000000;
$footer-logo-font: #13254A;
