@import './cdn';
@import './mixins';
@import './variables';

@import url(./header.scss);
@import url(./follow.scss);
@import url(./event.scss);
@import url(./improve.scss);
@import url(./blog.scss);
@import url(./footer.scss);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
